.shimmer {
  /* position: fixed; */
  color: grey;
  /* display:inline-block; */
  -webkit-mask:linear-gradient(60deg,#000 30%,#0005,#000 70%) left/300% 100%;
  background-repeat: no-repeat;
  animation: shimmer 2.5s infinite;
  font-size: 50px;
  max-width:200px;
}

@keyframes shimmer {

  0%{
      transform: rotate(0deg);
      -webkit-mask-position: left;
  }
  25%{
      -webkit-mask-position: left;
      transform: rotate(360deg);

  }
  70%{
      -webkit-mask-position: right;
      transform: rotate(360deg);
  }
  75%{
    -webkit-mask-position: right;

      transform: rotate(360deg);

  }
  100%{
    -webkit-mask-position: right;
      transform: rotate(360deg);

  }

}