

.main{
    width: 100vw;
    height: 100vh;
    background-size: 900px auto;
    background-repeat: no-repeat;
    background-position: right center;
}

.main_header{
    font-size: 4rem;
    font-weight: 10000;
    font-family: 'Changa';
    margin-left: 5%;
    color: #495371
}

.text_input {
    margin: 2% 0.5% 2% 5%;

    outline: none;
    outline-width: 0;

    width: clamp(200px, 15% ,300px);
    height: clamp(50px, 7%,70px);
    border-radius: 8px;
    padding: 1% 1%;
    font-family: 'Changa';
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    box-shadow: 0 0 0 1px #c4c4c4;
    transition: 0.3s linear;
}



.text_input::placeholder{
    font-family: 'Changa';
    font-size: 1.2rem;
    color: #A4A4A4;
    font-weight: 500;
}
.text_input:focus {
    box-shadow: 0 0 0 3px #5463FF;

}

.create_account_submit_button {
    margin-left: 5%;
    width: 32.5%;
    background-color: #5463FF;
    color: white;
    outline: none;
    border: none;
    height: clamp(50px, 7%,70px);
    margin-top: 2%;
    font-family: Changa;
    font-weight: 500;
    font-size: 1.8rem;
    border-radius: 15px;
    transition: 0.1s linear;
}

.create_account_submit_button:hover{
    cursor: pointer;
    background-color: #3543D1;
}